.App {
  text-align: center;
}


/* ---Menu-----*/
#Menu {
  background-color: gray;
  opacity: 0.65;
  display: flex;
  border-radius: 5px;
  margin-top: 50px;
  width: 35%;
  height: 35px;
}

.section-menu {
  border-right: 2px solid black;
  margin-left: 20px;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  padding-right: 20px;
}





.div-btn-home {
  /* border: 2px solid red; */
  margin-top: 10px;
  margin-left: 10px;
}


.btn-home {
  background-color: navy;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border-color: white;
}

.btn-home:hover {
  background-color: mediumblue;
}